@import "../../Vars.scss";
.ModalPasajeros {
  width: 300px;
  height: 200px;
  background-color: $White;
  border-radius: 0 0 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;

  figure {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    height: 20px;
  }

  .dflexSec {
    display: flex;
    justify-content: space-between;
    figure {
      span {
        align-self: flex-end;
      }
    }
  }
  .textTitles {
    font-size: 1rem;
  }
  .textDescription {
    font-size: 13px;
  }
  .SecAdultos {
    flex-grow: 1;
    width: 50%;
  }
  .SecNiños {
    flex-grow: 1;
    width: 50%;
  }
  .Secbb {
    flex-grow: 1;
    width: 50%;
  }
  .Secbuttons {
    display: flex;
    border-radius: 10px;
    border: 1px solid $GrayBackModal;
    align-items: center;
    flex-grow: 1;
    height: 30px;
    width: 50%;
    button {
      width: 100%;
      font-size: 20px;
      height: inherit;
      background: transparent;
      border: none;
      color: $MainColor;
      transition: 0.5s;
      &:hover {
        color: $Black;
        transition: 0.5s;
        cursor: pointer;
      }
    }
    p {
      width: 50%;
      text-align: center;
    }
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

//Animaciones
//Animaciones de entrada y salida del modal
.scale-in-top {
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-top {
  -webkit-animation: scale-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
