//Variables de color
$MainColor: #a32881;
$Gray: #f5f4f6;
$White: #fff;
$GrayBackModal: #b9b6b9;
$verdeSelect: #e5f4e4;
$Black: #2f2f2f;
$GrayFont: #5d5d5d;
$Grayasientos: #bfbdbf;
$GrayHeaderFactura: #f2eff2;
